{% extends "mainpages/page-layout.html" %}
{% block Titulo %}Vtesta | Desarrollo Personalizado{% endblock %}
{% block contenido %}
<br><br><br>
<section>
  <div class="container">
    <div class="row py-5 align-items-center">
      <div class="col-lg-6">
        <h5>Avesome Product</h5>
        <h2>Beautiful mobile Apps -<br> The Ultimate Secret</h2>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-6">
            <img class="w-100 my-3" src="{{ url_for('static', filename='img/logos/medium-logos/logo-google.svg') }}">
          </div>
          <div class="col-lg-6">
            <img class="w-100 my-3" src="{{ url_for('static', filename='img/logos/medium-logos/logo-pinterest.svg') }}">
          </div>
          <div class="col-lg-6">
            <img class="w-100 my-3" src="{{ url_for('static', filename='img/logos/medium-logos/logo-netflix.svg') }}">
          </div>
          <div class="col-lg-6">
            <img class="w-100 my-3" src="{{ url_for('static', filename='img/logos/medium-logos/logo-coinbase.svg') }}">
          </div>
          <div class="col-lg-6">
            <img class="w-100 my-3" src="{{ url_for('static', filename='img/logos/medium-logos/logo-facebook.svg') }}">
          </div>
          <div class="col-lg-6">
            <img class="w-100 my-3" src="{{ url_for('static', filename='img/logos/medium-logos/logo-spotify.svg') }}">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-8 mx-auto text-center mb-5">
        <span class="badge rounded-pill badge-info mb-2">Living</span>
        <h2>A new way to buy your next home</h2>
        <p>
          If you can’t decide, the answer is no. If two equally difficult paths,
          choose the one more painful in the short term (pain avoidance
          is creating an illusion of equality).
        </p>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-lg-3 col-md-6 position-relative mb-sm-0 mb-3">
        <hr class="vertical dark d-md-block d-none">
        <h3 class="mb-3">
          <a href="javascript:;" class="text-darker">
            Short Sentences Gives You the Liberty
          </a>
        </h3>
        <p class="mb-3">
          Paradoxically, using more short sentences gives you the liberty to write beautiful long sentences.
        </p>
        <p class="mb-3">
          But in a way that&#39;s never been done before.
        </p>
        <div class="author">
           <img src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/team-9.jpg" alt="..." class="avatar shadow">
           <div class="name ps-3 my-auto">
            <p class="text-sm text-darker font-weight-bold mb-0">Mathew Glock</p>
            <div class="stats">
              <p class="text-xs text-secondary mb-0">Author</p>
            </div>
          </div>
        </div>
        <hr class="horizontal dark my-4">
        <h3 class="mb-3">
          <a href="javascript:;" class="text-darker">
            5 Ways to Improve your Life.
          </a>
        </h3>
        <p class="mb-3">
          Create first, edit second. Never do them at the same time.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 position-relative mb-sm-0 mb-3">
        <hr class="vertical dark d-lg-block d-none">
        <div class="card card-plain">
          <div class="card-header p-0 mx-lg-3 mt-3 position-relative z-index-1">
            <a href="javascript:;" class="d-block">
              <img src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/freedom.jpg" class="img-fluid border-radius-lg">
            </a>
          </div>

          <div class="card-body pt-3">
            <h4 class="mb-3">
              <a href="javascript:;" class="text-darker font-weight-bolder">
                How to Build a $24 Billion Dollar Company in Just 2 Years.
              </a>
            </h4>
            <p class="card-description mb-4">
              I&#39;ve come to the conclusion that 50% of folks in this world don&#39;t even
              spend enough time alone with their thoughts to have their own opinions.
              They haven&#39;t done the work to decide what they think. And that isn&#39;t a rewarding way to live.
            </p>
            <div class="author">
              <img src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/freedom.jpg" alt="..." class="avatar shadow">
              <div class="name ps-3 my-auto">
                <p class="text-sm text-darker font-weight-bold mb-0">L&#39;orea Sirman</p>
                <div class="stats">
                  <p class="text-xs text-secondary mb-0">Redactor</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 position-relative mb-sm-0 mb-3">
        <hr class="vertical dark d-md-block d-none">
        <div class="card card-plain">
          <div class="card-header p-0 mx-lg-3 mt-3 position-relative z-index-1">
            <a href="javascript:;" class="d-block">
              <img src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/city-view.jpg" class="img-fluid border-radius-lg">
            </a>
          </div>

          <div class="card-body pt-3">
            <h4 class="mb-3">
              <a href="javascript:;" class="text-darker font-weight-bolder">
                8 Powerful Mental Models to Help You Win.
              </a>
            </h4>
            <p class="text-sm mb-0">By Andrew Peterson</p>
          </div>
        </div>
        <div class="card card-plain">
          <div class="card-header p-0 mx-lg-3 position-relative z-index-1">
            <a href="javascript:;" class="d-block">
              <img src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ocean.jpg" class="img-fluid border-radius-lg">
            </a>
          </div>
          <div class="card-body pt-3">
            <h4 class="mb-3">
              <a href="javascript:;" class="text-darker font-weight-bolder">
                High performers are like surfers.
              </a>
            </h4>
            <p class="text-sm">By L&#39;orea Michael</p>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 position-relative mb-sm-0 mb-3">
        <div class="card card-plain">
          <div class="card-body pt-3">
            <h6 class="font-weight-bolder opacit-5">
              <i class="fa fa-microphone me-2"></i>Podcasts
            </h6>
            <h5 class="mb-2">

            </h5>
            <p>An interview with Tesla founder.</p>
            <span class="text-xs">By Alexa Rossa</span>
          </div>
        </div>
        <hr class="horizontal dark mt-0 mb-2">
        <div class="card card-plain">
          <div class="card-body pt-3">
            <h6 class="font-weight-bolder">
              <i class="fa fa-microphone me-2"></i>
              Interviews
            </h6>

              <p hss="">
              Make $500k through small biz or raise it from family.
              </p>

            <span class="text-xs">By Jonathan Silvia</span>
          </div>
        </div>
        <hr class="horizontal dark mt-0 mb-2">
        <div class="card card-plain">
          <div class="card-body pt-3">
            <h6 class="font-weight-bolder opacit-5">
              <i class="fa fa-microphone me-2"></i>Podcasts
            </h6>
            <h5 class="mb-2">

            </h5>
            <p>Lengthen your time horizon.</p>
            <span class="text-xs">By Andrew Joe</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8 mx-auto text-center">
        <div class="ms-3 mb-md-5">
          <h2>Tienes algun proyecto en mente?</h2>
          <p class="lead">Puedes contactarnos para obtener la solucion perfecta para ti.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="card card-plain">
          <form id="contact-form" method="post" autocomplete="off" action="{{url_for('menus.menu_inicio_contactanos')}}">
            <div class="card-body pb-2">
              <div class="row">
                <div class="col-md-6">
                  <label>Nombre Completo</label>
                  <div class="input-group mb-4">
                    <input name="Nombre" class="form-control" placeholder="Nombre Apellido Completo" type="text" required>
                  </div>
                </div>
                <div class="col-md-6 ps-md-2">
                  <label>Correo Electronico</label>
                  <div class="input-group">
                    <input name="Correo" type="email" class="form-control" placeholder="ejemplo@ejemplo.com" required>
                  </div>
                </div>
              </div>
              <div class="form-group mb-0 mt-md-0 mt-4">
                <label>En que podemos ayudarte?</label>
                <textarea name="Mensaje" class="form-control" id="message" rows="6" placeholder="Describe tu proyecto o duda aqui." required></textarea>
              </div>
              <div class="row">
                <div class="col-md-12 text-center">
                  <button type="submit" class="btn bg-gradient-primary mt-3 mb-0">Enviar Mensaje</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}